:root{
    --maincolor:#eaeaea;
    --secondarycolor:#fff;

    --bordercolor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;

    --themedotBoarder:black;

    --previewBg:rgb(252, 250, 242, 0.7);

    --preview-shadow:#b1cadf;
    
    --buttoncolor: rgb(212, 207, 219);

}

html,body{
    
    padding: 0;
    margin: 0;

}




h1, h2, h3, h4, h5, h6, strong{
    color: var(--maintext);
    font-family: 'Permanent Marker', cursive;
}

p, il, span, label, input, textarea{
    color: var(--secondaryText);
}

a{
    text-decoration: none;
    color:#17a2b8;
}

ul{
    list-style: none;
}

h1 { font-size: 58px;}
h2 { font-size: 38px;}
h3 { font-size: 26px;}
h4 { font-size: 22px;}
h5 { font-size: 18px;}
h6 { font-size: 14px;}


.s1{
    background-color: var(--maincolor);
    border-bottom:1px solid var(--bordercolor);
    overflow:auto;
}

.s2{
    background-color: var(--secondarycolor);
    border-bottom:1px solid var(--bordercolor);
    overflow:auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondarycolor);
    border:1px solid var(--bordercolor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 42px -17px 16px 7px rgba(0,0,0,0.44); 
    box-shadow: 42px -17px 16px 7px rgba(0,0,0,0.44);

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    grid-template-areas:
       'nav-wrapper nav-wrapper'
       'left-column right-column'
    ;
}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--bordercolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--maincolor);
}

#navigation{
    margin:0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color:red;
}

#dot-2{
    background-color:yellow;
}

#dot-3{
    background-color:green;
}


.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

   
}

.left-colum{
    grid-area: "left-column";
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}

#profile-pic{
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--bordercolor);
}

#theme-options-wrapper{
display: flex;
justify-content: center;
}

.theme-dot{
    height: 30px;
    width:30px;
    border-radius: 50%;
    background-color: black;

    margin: 5px;
    border: 2px solid var(--themedotBoarder);

    -webkit-box-shadow: 8px 5px 6px -1px #000000; 
    box-shadow: 8px 5px 6px -1px #000000;
cursor: pointer;

}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color:#fff;
}

#blue-mode{
    background-color:#192734;
}

#green-mode{
    background-color:#78866b;
}

#purple-mode{
    background-color: rgb(148, 15, 236);
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}


.right-colum{
    grid-area: "right-column";
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
    
}

#preview-shadow{
    background-color: var(--preview-shadow);
    max-width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;

}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-topleft{
    top: -5px;
    left: -5px;
}

#corner-topright{
    top: -5px;
    right: -5px;
}

#corner-bottomright{
    bottom: -5px;
    left: -5px;
}

#corner-bottomleft{
    bottom: -5px;
    right: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px,1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

#Skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--preview-shadow);
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img{
    width: 100%;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--bordercolor);

}
.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.post-preview{
    background-color: fff;
    padding: 15px;
}

.post-title{
    color: black;
    margin: 0;
}

.post-intro{
    color:#4b5156;
    font-size: 15px;

}

#submit-button{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttoncolor);
    border: cornflowerblue;
}
@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
}
    

@media screen and (max-width: 800px){
    .intro-wrapper{
         grid-template-columns: 1fr;
         grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
        
            
    }  
    
    .right-colum{
        justify-content: center;
    }

}