:root{
    --maincolor:#15202B;
    --secondarycolor:192734;

    --bordercolor:#164D56;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themedotBoarder:#FFF;

    --previewBg:rgba(29, 28, 24, 0.7);

    --preview-shadow:#111921;
    
    --buttoncolor: #lightblue;
    

}