.root{
    --maincolor:rgb(148, 15, 236);
    --secondarycolor:#382a3f;

    --bordercolor:#1d1520;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themedotBoarder:#FFF;

    --previewBg:rgba(33, 22, 37, 0.8);

    --preview-shadow:#2b202f;
    
    --buttoncolor: #8534a3;

}